<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.name}} : {{todo.content}}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    <label for="name">
      Name
    </label>
    <input type="text" [(ngModel)]="todo.name" id="name" class="form-control">
    <label for="content">
      Content
    </label>
    <input type="text" id="content" [(ngModel)]="todo.content" class="form-control">
    <button [disabled]="!this.todo.name.trim().length || !this.todo.content.trim().length" class="btn btn-primary" (click)="addTodo()">
      Add Todo
    </button>
  </div>
</div>
